.servicos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.servico{
    width: 300px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-aling: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.servico img{
    width: 100%;
    border-radius: 5px;
}
.servico h3{
    margin: 10px 0;
    color: #333;
}
.sercico p{
    font-size: 14px;
    color: #666;
}