* {
    background-color: #190058;
}
h1{
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50PX;
    font-style: italic;
}
h1,p{
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
button{
    color: #ffffff;
    font-size: 20px;
}
footer{
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
